@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

/* Subtly pulse key elements */
@keyframes soft-pulse {
  0%, 100% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: .95;
    transform: scale(0.995);
  }
}

.animate-soft-pulse {
  animation: soft-pulse 2s infinite ease-in-out;
}
